<a href="https://colab.research.google.com/github/sasireddyvari/CodeQuest_Python/blob/master/07_Statements_Assessment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statements Assessment Test
Let's test your knowledge!

**use for loop to acess the given element of 2D list and print it**

In [11]:
list2d = [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
list2d

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [16]:
#write your code here
for item in list2d:
  for val in item:
    print(val)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

**change the element in this 2d list. any kind of change you want is acceptable**

In [13]:
np.shape(list2d)

(5, 5)

In [20]:
#write your code here
for item in list2d:
   list2d=np.reshape(list2d,(1,25))
list2d

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0]])

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [22]:
st = 'Print only the words that start with s in this sentence'

In [24]:
#Code here
lst=st.split(' ')
for item in lst:
  if item.startswith('s'):
    print(item)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [25]:
#Code Here
for i in range(0,10):
  if i%2==0:
    print(i)

0
2
4
6
8

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [26]:
#Code in this cell
[num for num in range(1,50) if num%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [28]:
st = 'Print every word in this sentence that has an even number of letters'

In [35]:
#Code in this cell
lst=st.split()
lst
for item in lst:
  if len(item)%2==0:
    print(item)

word
in
this
sentence
that
an
even
number
of

**write an example of do while loop,**

In [45]:
#Code in this cell
i = 1  
while True:  
  print(i)  
  i = i + 1  
  if(i>4):  
    break

1
2
3
4

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [46]:
#Code in this cell
for i in range(1,100):
  if i%3==0:
    print('Fizz')
  elif i%5==0:
    print('Buzz')
  elif i%3==0 and i%5==0:
    print('FizzBuzz')
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [48]:
st = 'Create a list of the first letters of every word in this string'

In [49]:
#Code in this cell
[item[0] for item in st.split(' ')]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

**Give an example of nested list comprehension**

In [50]:
#Code in this cell
[[j for j in range(5)] for i in range(5)]

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

### Great Job!