<a href="https://colab.research.google.com/github/sasireddyvari/CodeQuest_Python/blob/master/08_Functions_and_Methods_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [1]:
def vol(rad):
  #your code here
  pi=3.14
  r=rad**3
  res=(4/3)*pi*r
  return res

In [2]:
# Check
vol(2)

33.49333333333333

**Write a Python function to find the Max of three numbers (dont use max() function )**

In [7]:
def maximum(num1, num2, num3):
  #your code goes here
  if num1>=num2 and num1 >= num3:
    return num1
  elif num2>=num1 and num2 >= num3:
    return num2
  else:
    return num3

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [8]:
def ran_check(num,low,high):
  if num > low and num < high:
    print(num,"is in the range of {0} and {1}".format(low,high))
  else:
    print(num,"isn't in the range of {0} and {1}".format(low,high))

In [9]:
# Check
ran_check(5,2,7)

5 is in the range of 2 and 7

If you only wanted to return a boolean:

In [10]:
def ran_bool(num,low,high):
    #your code here
  if num>low and num<high:
    return True
  else:
    return False

In [11]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [20]:
def up_low(s):
  #your code here
  u,l=0,0
  for i in s:
    if i.isupper():
      u+=1
    elif i.islower():
      #print(i,l)
      l+=1
  return("upper:{0},lower:{1}".format(u,l))

In [21]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

'upper:4,lower:33'

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [24]:
def unique_list(lst):
    #your code here
  se=set(lst)
  lst=list(se)
  return lst

In [25]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

**Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included)**

In [30]:
def squre_vals():
    #your code here
    vals=[val**2 for val in range(1,31)]
    return vals

squre_vals()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

**Write a recursive function to calculate the sum of numbers from 0 to 10**

In [31]:
def resum(n):
  #your code here
  if n <= 1: 
    return n 
  return n + resum(n - 1) 

resum(5)

15

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [36]:
from functools import reduce
def multiply(numbers):  
  #   #your code here
  # result = 1
  # for x in numbers:
  #   result = result * x 
  # return result 
  res=reduce((lambda x, y: x * y), numbers)
  return res

In [37]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [38]:
def palindrome(s):
    #your code here
  rev=s[::-1]
  if s==rev:
    return True
  else:
    False

In [39]:
palindrome('helleh')

True

**Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument**

In [46]:
def factorial(num):
    #your code here
    #return in last
  return 1 if (num==1 or num==0) else num * factorial(num - 1)

factorial(4)

24

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [52]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
  for char in alphabet: 
    if char not in str1.lower(): 
      return False
  return True

In [53]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [54]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!