<a href="https://colab.research.google.com/github/sasireddyvari/CodeQuest/blob/master/09_CodeQuest_Objects_and_Data_Structures_Assessment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Test your knowledge. 

** Answer the following questions **

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [4]:
res = ((10*10)/10)**2+0.50-0.25
res

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [5]:
4*(6+5)

44

In [6]:
4 * 6 + 5

29

In [7]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [8]:
type(3+1.5+4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [9]:
# Square root:
2**0.5

1.4142135623730951

In [10]:
# Square:
2**2

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [12]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [19]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [20]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [23]:
# Method 2:
s[-1]
s[:3:-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [28]:
# Method 1:
lst=[0,0,0]
lst

[0, 0, 0]

In [34]:
# Method 2:
l=[0]*3
print(l)
#or
ls=[]
ls.append(0)
ls.append(0)
ls.append(0)
ls

[0, 0, 0]

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [44]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [46]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [52]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d.values())
d['simple_key']

dict_values(['hello'])

'hello'

In [54]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [64]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d.keys())
print(d.values())
d['k1'][0]['nest_key'][1][0]

dict_keys(['k1'])
dict_values([[{'nest_key': ['this is deep', ['hello']]}]])

'hello'

In [70]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

In [73]:
x.items()

dict_items([(1, 2), (3, 4), (4, 3), (2, 1), (0, 0)])

In [76]:
x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
sorted_x = sorted(x.items(), key=lambda kv: kv[0])
sorted_x

[(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]

In [77]:
import collections

sorted_dict = collections.OrderedDict(sorted_x)
sorted_dict

OrderedDict([(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)])

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are immutable and lists are mutable

How do you create a tuple?<br><br>

In [79]:
t=(1,2,3)
t

(1, 2, 3)

## Sets

What is unique about a set?<br><br>

- Eliminates duplicates

Use a set to find the unique values of the list below:

In [80]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

s=set(list5)
s

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [81]:
# Answer before running cell
2 > 3

False

In [82]:
# Answer before running cell
3 <= 2

False

In [83]:
# Answer before running cell
3 == 2.0

False

In [84]:
# Answer before running cell
3.0 == 3

True

In [85]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [86]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!